.centreDiv{
    text-align: center;
    justify-content: center;
}

.centreDiv p{
    padding-bottom: 20px;
    font-size: 160%;
    font-weight: 900;
}

.customImage{
    width: 160px;
    height: auto;
    padding: 6px; /* Optional: Add margin between images */
}