.centreDiv{
    text-align: center;
    justify-content: center;
}

.centreDiv p{
    padding-bottom: 40px;
    font-size: 200%;
    font-weight: 900;
}

.customImage{
    width: 200px;
    height: auto;
    padding: 10px; /* Optional: Add margin between images */
}