.centreDiv{
    text-align: center;
    justify-content: center;
}

.centreDiv img{
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 10px; /* Optional: Add margin between images */
}

.centreDiv p{
    padding-bottom: 40px;
}