@font-face {
    font-family: 'barlow';
    src: url('../../fonts/Barlow-Medium.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

section{
    font-family: 'barlow';
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px; 
    margin-bottom: 20px;
}

h1{
    font-size: 200px;
    font-family: 'ubuntu-title';
}

h2{
    font-size: 100px;
    font-family: 'ubuntu-title';
}

.fruit-image-right{
    width: 300px;
    height: 300px;
    float: right;
}

.fruit-image-left{
    width: 300px;
    height: 300px;
    float: left;
}