* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

section img{
    width: 150px;
    height: auto;
    display: block;
    margin-top: 100px;
}

section{
    margin: 10%;
}