@font-face {
    font-family: 'barlow';
    src: url('../../fonts/Barlow-Medium.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFC04C;
    background-image: linear-gradient(orange 10%, #FFC04C 20%); /*saying, make that change for 5% and make that change at 20%"*/
    background-repeat: no-repeat;
    height: 100vh;
}

section{
    font-family: 'barlow';
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-size: 200px;
    font-family: 'ubuntu-title';
}

h2{
    font-size: 100px;
    font-family: 'ubuntu-title';
}

.fruit-image-right{
    width: 300px;
    height: auto;
    float: left;
}

.fruit-image-left{
    width: 300px;
    height: auto;
    float: right;
}
