@font-face {
    font-family: 'ubuntu-title';
    src: url('../../fonts/Ubuntu-Title.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.navbar {
    color: white; /*text*/
    font-family: 'ubuntu-title';
    padding-bottom: 100px;
}

.navbar a {
    color: white; /* Change the link color */
    text-decoration: none; /* Remove underline from links */
    font-size: 140%;
}

.navbar a:hover {
    font-size: 200%; /* Size on hover */
    font-weight: 900;
    text-shadow:  10px 10px 2px rgba(117, 72, 17, 0.532),
    2px 2px 0px black;
}

.navdiv {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: auto; /* Pushes everything else to the right */
    padding-left: 2%;
}

.logo a {
    font-weight: bold; /* Make the logo text bold */
    font-size: 18px; /* Increase the font size */
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: center; /* Center the list items */
    align-items: center;
    list-style: none;
    margin: 0;
    width: 100%; /* Take full width of its container */
    flex-grow: 1; /* Allows the list to grow and take available space */
}

li {
    padding-right: 80px; /* Space between items */
    display: inline-block;
    font-size: 200%;
}

.logoText{
    white-space: nowrap;
    margin-right: 100px;
    font-family: 'ubuntu-title';
    font-size: 400%;
}

.logo img{
    width: 200px;
    height: auto;
    padding-right: 10%;
}